{% extends 'base.html' %}
{% block body %}
<h1 class="center-align" > Predict Flight Price</h1>
<div class="row  purple lighten-4">
<form action="{% url 'index' %}" method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
    <h5>Departure Date</h5>
    <input type="datetime-local" name="Dep_Time" id="Dep_Time" required="required">
    <h5>Arrival Date</h5>
    <input type="datetime-local" name="Arrival_Time" id="Arrival_Time" required="required">
    
    <h5>Source</h5>
    <select name="Source" id="Source" required="required">
        <option value="Delhi">Delhi</option>
        <option value="Kolkata">Kolkata</option>
        <option value="Mumbai">Mumbai</option>
        <option value="Chennai">Chennai</option>
    </select>

    <h5>Destination</h5>    
    <select name="Destination" id="Destination" required="required">
            <option value="Cochin">Cochin</option>
            <option value="Delhi">Delhi</option>
            <option value="New Delhi">New Delhi</option>
            <option value="Hyderabad">Hyderabad</option>
            <option value="Kolkata">Kolkata</option>    
    </select>
    <h5>Stopage</h5>                    
    <select name="stops" required="required">
        <option value="0">Non-Stop</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    <h5>Which Airline you want to travel?</h5>
    <!-- Airline -->
    <select name="airline" id="airline" required="required">
        <option value="Jet Airways">Jet Airways</option>
        <option value="IndiGo">IndiGo</option>
        <option value="Air India">Air India</option>
        <option value="Multiple carriers">Multiple carriers</option>
        <option value="SpiceJet">SpiceJet</option>
        <option value="Vistara">Vistara</option>
        <option value="Air Asia">Air Asia</option>
        <option value="GoAir">GoAir</option>
        <option value="Multiple carriers Premium economy">Multiple carriers Premium economy
        </option>
        <option value="Jet Airways Business">Jet Airways Business</option>
        <option value="Vistara Premium economy">Vistara Premium economy</option>
        <option value="Trujet">Trujet</option>
    </select>
    <div class="row">
        <div class="input-field col s12">
            <p class="center-align">
            <button class="btn waves-effect waves-light red lighten-1" value="submit" type="submit" name="action">Predict Fare  
                <i class="tiny material-icons right">send</i>
            </button>
            </p>
        </div>
    </div>
</form>

{% if prediction_text %}
<h1> {{ prediction_text }} </h1>
{% endif %}

</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems,{});
  });
</script>

{% endblock %}